<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>AiLT, your language teacher.</title>
</head>
<body>
    <nav id="sidebar">
        <div class="float-top">
            <div class="sidebar-controls">
                <button class="new-chat"><i class="fa fa-plus"></i> 새로운 대화</button>
                <button class="hide-sidebar"><i class="fa fa-chevron-left"></i></button>

            </div>
            <ul class="conversations">
                <li class="grouping" data-conversation-id="today">오늘</li>
                <li class="active" data-conversation-id="1">
                    <button class="conversation-button"><i class="fa fa-message fa-regular"></i> hello1</button>
                    <div class="fade"></div>
                    <div class="edit-buttons">
                        <button><i class="fa fa-edit"></i></button>
                        <button><i class="fa fa-trash"></i></button>
                    </div>
                </li>
                <li class="grouping" data-conversation-id="yesterday">어제</li>
                <li class="active" data-conversation-id="2">
                    <button class="conversation-button"><i class="fa fa-message fa-regular"></i> hello2</button>
                    <div class="fade"></div>
                    <div class="edit-buttons">
                        <button class="edit"><i class="fa fa-edit"></i></button>
                        <button class="delete"><i class="fa fa-trash"></i></button>
                    </div>
                </li>        
                <li class="active" data-conversation-id="3">
                    <button class="conversation-button"><i class="fa fa-message fa-regular"></i> hello3</button>
                    <div class="fade"></div>
                    <div class="edit-buttons">
                        <button class="edit"><i class="fa fa-edit"></i></button>
                        <button class="delete"><i class="fa fa-trash"></i></button>
                    </div>
                </li>      
            </ul>
        </div>
        <div class="user-menu">
            <button>
                <i class="user-icon">Y</i>
                정용규
                <i class="fa fa-ellipsis dots"></i>
            </button>
            <ul>
                <li><button>내 정보</button></li>
                <li><button>설정 </button></li>
                <li><button>로그아웃</button></li>
            </ul>
        </div>
    </nav>
    <main>
        <div class="view new-chat-view">
            <div class="logo">
                AiLT
            </div>
        </div>

        <div class="view conversation-view">
            <div class="model-name">
                학습 모드
            </div>
            <div class="messages-container"></div>
        </div>

        <div id="message-form">
            <div class="message-wrapper">
                <textarea id="message" rows="1" placeholder="메세지를 입력하세요"></textarea>
                <button class="send-button"><i class="fa fa-paper-plane"></i></button>
                <button class="record-button" onclick="toggleRecording()"><i class="fa fa-paper-plane"></i></button>
            </div>
        </div>


    </main>
    <script src="script-sidebar.js"></script>
    <script src="script-chat.js"></script>
    <script src="script-test.js"></script>
</body>
</html>
